# Setup
title: Marc Neu 
tagline: "Personal Blog"
url: https://marcneu.github.io
paginate: 1
baseurl: ""
permalink: pretty

# Gems
plugins:
  - jekyll-gist
  - jekyll-paginate
  - jekyll-seo-tag

# Optimize Jekyll
exclude:
  - .editorconfig
  - .git
  - .jekyll-cache
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md

sass:
  sass_dir: _sass
  style: :compressed

# Options

# Replace this value and uncomment to enable Google Analytics tracking
# ga_analytics: UA-000000-0

# Specify the author for blog posts
author:
  name: Marc Neu
  url: https://www.linkedin.com/in/marc-neu-69775a177/
  email: marc.neu@gmx.net

# Custom vars
version: 3.0.0
